p { font-family: 'Open Sans', Arial, sans-serif ;
    letter-spacing: 0.05em;
    line-height: 1.6;
    font-weight: 400;
    color: rgb(5, 5, 5);}
    html { background-color: beige;
    } 
body { front-family: 'Open Sans', Arial, sans-serif ; background-color: #f5f5f5;
      color: #333;
      margin: 0;
      padding: 0;
    }
h1, h2{
    color: #004080;
    text-align: center;
    margin-top: 20px;
    }
nav {
     background-color: #004080;
     padding: 10px;
    }
nav ul {
        display: inline;
        margin: 15px;
    }   
nav ul li a {
            color: white;
            text-decoration: none;
            font-weight: bold;
        }  
section, main {
              background-color: white;
              margin: 20px auto;
              max-width:800px;
              border-radius: 8px;
              box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
             }       
footer {background-color:#001f4d; color:white; text-align:center;
}                       
ul li {
    margin-bottom: 10px;
}                